/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --nav-color: #868686;

  --cursor-img: url("../images/cursor.png");
  --accent-color: #fcbc05;

  --slider-button-size: 6em;
}

/* ------------ HTML ----------- */
html:has([type="checkbox"]:checked) header nav section {
    opacity: .6;
    /* pointer-events: auto; */

    display:block;
  }



.hide-from-user{
  opacity: 0;
}
/* ----------------------------- */

/* ------------ BODY ----------- */
body {
    margin: 0;
    padding:0;
    color: white;
    background-color: white;
    font-family: Everett;
  }

/* ----------------------------- */

/* ------------ MAIN ----------- */
main section,
main ul,
main li,
header {
  margin: 0;
  padding: 0;
}



  
  
/* main section:nth-of-type(1) ul {
  position: absolute;
  top: 0;
  left: 0;
} */



/* ----------------------------- */




/* --------- NAVIGATION -------- */
header nav {
  position: fixed;
  z-index: 50;
  height: 90px;
  background-color: #868686, transparent;
  width: 100vw;
}

header nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  position: relative;
  padding: 1em;
}

header nav > ul li:first-of-type{
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}

header nav > ul li:nth-of-type(2)
{
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}


header nav section {
  display: none;
  position: fixed;
  inset: 0; 
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

header nav section ul {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.1em;
}

header nav section ul li {
  font-family: Everett;
}

/* ----------------------------- */



/* video slider */
main section:first-of-type ul {
  display: flex;
  position: relative;
  /* min-height: 100vh; */

  list-style: none;
  margin: 0;
  padding: 0;

  overflow: auto;
  scroll-snap-type: x mandatory;

  /* border: solid pink; */
}

main section:first-of-type li {
  scroll-snap-align: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;

}


main section:first-of-type li h2 {
  position: absolute;
  bottom: 2em;
  font-family: Everett;
  font-weight: 100;
  font-size: 2em;

  margin: 8px 0px 15px;
  left: 0;
  right: 0;
}

main section:first-of-type li p:first-of-type {
  position: absolute;
  bottom: 7em;

  font-family: Everett;
  font-weight: 500;
  font-size: 1em;
}

main section:first-of-type li p:nth-of-type(2) {
  position: absolute;
  bottom: 1em;

  font-family: Everett;
  font-weight: 500;
  font-size: 1em;
}

main section:first-of-type li :is(h2, p)  {
  color: white;
  padding: 2rem;
}

/* backgrounds */

main section:first-of-type li:first-of-type{
  background-image: url("../images/mobile/mc20-notte-home-hero-mbl.jpg");
  background-size: cover;
}

main section:first-of-type li:nth-of-type(2){
  background-image: url("../images/mobile/MAS_MCXtrema_Hero_Reel_Thumb.webp");
  background-size: cover;
}

main section:first-of-type li:nth-of-type(3){
  background-image: url("../images/mobile/Folgore.webp");
  background-size: cover;
}

main section:first-of-type li:nth-of-type(4){
  background-image: url("../images/mobile/05_vertical_2.webp");
  background-size: cover;
}

main section:first-of-type li:nth-of-type(5){
  background-image: url("../images/mobile/Maserati_Grecale_hero_mobile (1).webp");
  background-size: cover;
}

main section:first-of-type li:nth-of-type(6){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}

/* ---------------------------- */

/* Model selector */
main section:nth-of-type(2) {
  position: relative;
  background-color: black;
}

main section:nth-of-type(2) > h2{
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;

  text-align: center;
  font-family: Everett, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

main section:nth-of-type(2) > img{
  max-width: 100%;
  min-height: 450px;
}

main section:nth-of-type(2) ul{
  list-style: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  
}

main section:nth-of-type(2) ul li {
  min-width: 360px;;

  display: flex;
  flex-direction: column;
  justify-content: center;

  scroll-snap-align: center;
  text-align: center;

}





/* folgore */
main section:nth-of-type(3) video {
  max-width: 100%;
}





/* De world of Maserati */
main section:nth-of-type(4){
  border: solid pink;

}

main section:nth-of-type(4) h2{
  color: black;
}

main section:nth-of-type(4) ul {
  display: flex;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;

  scroll-snap-type: x mandatory;
}

main section:nth-of-type(4) li {
  min-height: 100vh;
  min-width: 100vw;

  scroll-snap-align: center;
}


/* backgrounds */
main section:nth-of-type(4) li:first-of-type{
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}

main section:nth-of-type(4) li:nth-of-type(2){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}

main section:nth-of-type(4) li:nth-of-type(3){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;

}

main section:nth-of-type(4) li:nth-of-type(4){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}

main section:nth-of-type(4) li:nth-of-type(5){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}

main section:nth-of-type(4) li:nth-of-type(6){
  background-image: url("../images/mobile/MC20_Cielo_global_premier_vertical.webp");
  background-size: cover;
  background-position: center;
}








/* --------- HAMBURGER -------- */
nav ul li label div {
  margin: 0 auto;
  width: 1rem;
  height: 1rem;
  position: relative;
}

nav ul li span {
  padding: 0;
  width: 1rem;
  height: 0.13rem;
  background-color: white;
  display: block;
  border-radius: 0.13rem;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

nav ul li span:nth-of-type(1) {
  top: 0;
  transform-origin: 5%;
}

nav ul li span:nth-of-type(2),
nav ul li span:nth-of-type(3) {
  top: 0.45rem;
}

nav ul li span:nth-of-type(3) {
  right: 0;
}

nav ul li span:nth-of-type(4) {
  bottom: 0;
  transform-origin: 5%;
}

nav ul li input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

nav ul li input:checked + label > div > span:nth-of-type(1) {
  transform: rotate(45deg);
  height: 0.1rem;
  width: 1.4rem;
}

nav ul li input:checked + label > div > span:nth-of-type(2) {
  transform: rotate(-45deg);
  height: 0.1rem;
  background-color: transparent;
}

nav ul li input:checked + label > div > span:nth-of-type(3) {
  transform: rotate(45deg);
  height: 0.1rem;
  background-color: transparent;
}

nav ul li input:checked + label > div > span:nth-of-type(4) {
  transform: rotate(-45deg);
  height: 0.1rem;
  width: 1.4rem;
}

/* ----------------------------- */



/* shop section */
main section:nth-of-type(5) {
  background-image: url("../images/frontpage/img-carrousel/header-slider-mc20.jpg");
  background-size: cover;
  background-position: center;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

main section:nth-of-type(5) h2 {
  font-family: Everett, sans-serif;
  font-weight: 100;
  font-size: 2em;

  width: 14em;
}




/* footer */
footer {
  background-color: black;
  color: white;
}

footer ul li ul{
  list-style: none;

  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


footer button, footer input {
  /* position: absolute;
  left: 2em;
  right: 2em;

  text-align: left; */

  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

footer ul > li{
  position: relative;
  display: inline-block;
}

footer ul li ul li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

footer ul li ul li a:hover {background-color: #ddd;}

.show{
 display:block;
}


/* a style */
.animation-a-cl{
  text-decoration: none;
  font-family: Everett, sans-serif;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 36px 18px 21px;
  background-color: yellow;
  
  text-align: center;
  min-width: 420px;
  min-height: 50px;
  
  
  
    color: white;
    background: FFC844; /* default color */


    background: linear-gradient(100deg, #FFC844 50%, #1C3775 50%) right;
    background-size: 240% 100%;

    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.animation-a-bw{
  text-decoration: none;
  font-family: Everett, sans-serif;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 36px 18px 21px;
  background-color: white;
  
  text-align: center;
  min-width: 420px;
  min-height: 50px;
  
  
  border: solid white .25em;
    color: white;
    background: FFC844; /* default color */


    background: linear-gradient(100deg, transparent, white 100%) right;
    background-size: 200%;

    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.animation-a-cl:hover, .animation-a-bw:hover{
  background-position: left;
}
