/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc844;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;

  --button-primary: #ffc844;
  --button-secondary: #1c3775;
  --succes: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --nav-color: #868686;

  --cursor-img: url("../images/cursor.png");
  --accent-color: #fcbc05;

  --slider-button-size: 6em;

  --video-text-card-align: 2rem;
  --video-slider-info-align: 4rem;
}

/* ------------ HTML ----------- */
html:has([type="checkbox"]:checked) header nav ul li:nth-of-type(1) {
  opacity: 1;
  display: block;
}

html:has([type="checkbox"]:checked) {
  overflow: hidden;
}

/* ----------------------------- */

/* ------------ BODY ----------- */
body {
  margin: 0;
  padding: 0;

  background-color: var(--white);

  color: var(--white);
  font-family: Everett;
}

body::-webkit-scrollbar {
    display: none;
  }

/* ----------------------------- */

/* ------------ MAIN ----------- */
main section,
main ul,
main li,
header {
  margin: 0;
  padding: 0;
}

/* ----------------------------- */

/* --------- NAVIGATION -------- */
header {
  position: relative;
}

header nav {
  position: fixed;
  z-index: 50;

  width: 100vw;

  background-color: var(--nav-color), transparent;
}

header nav > ul {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;
}

header nav > ul li:nth-of-type(2) {
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}

header nav > ul li:nth-of-type(3) {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

/* invis nav section */
header nav ul li:nth-of-type(1) {
  position: fixed;

  display: none;
  inset: 0;

  opacity: 0;
  background-color: black;
}

header nav ul li:nth-of-type(1) ul {
  position: absolute;
  top: 4em;

  list-style: none;

  font-family: Everett, sans-serif;
  font-size: 1em;
  font-weight: 800;
}

/* ----------------------------- */

/* ----------FOOTER------------- */
footer {
  background-color: black;

  color: white;
}

footer ul li ul {
  position: absolute;
  z-index: 1;

  display: none;
  min-width: 160px;

  list-style: none;
  background-color: var(--light);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

footer button,
footer input {
  padding: 16px;

  background-color: var(--primary);
  border: none;

  cursor: pointer;

  color: var(--white);
  font-size: 16px;
}

footer ul > li {
  position: relative;

  display: inline-block;
}

footer ul li ul li {
  display: block;
  padding: 12px 16px;

  color: black;
  text-decoration: none;
}

footer ul li ul li a:hover {
  background-color: var(--light);
}

/* ----------------------------- */

/* --------- HAMBURGER -------- */
nav ul li label div {
  position: relative;

  margin: 0 auto;
  width: 1rem;
  height: 1rem;
}

nav ul li span {
  position: absolute;

  display: block;
  padding: 0;
  width: 1rem;
  height: 0.13rem;

  background-color: white;
  border-radius: 0.13rem;

  transition: all 0.4s ease-in-out;
}

nav ul li span:nth-of-type(1) {
  top: 0;
  transform-origin: 5%;
}

nav ul li span:nth-of-type(2),
nav ul li span:nth-of-type(3) {
  top: 0.45rem;
}

nav ul li span:nth-of-type(3) {
  right: 0;
}

nav ul li span:nth-of-type(4) {
  bottom: 0;
  transform-origin: 5%;
}

nav ul li input {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

nav ul li input:checked + label > div > span:nth-of-type(1) {
  transform: rotate(45deg);

  height: 0.1rem;
  width: 1.4rem;
}

nav ul li input:checked + label > div > span:nth-of-type(2) {
  transform: rotate(-45deg);

  height: 0.1rem;

  background-color: transparent;
}

nav ul li input:checked + label > div > span:nth-of-type(3) {
  transform: rotate(45deg);

  height: 0.1rem;

  background-color: transparent;
}

nav ul li input:checked + label > div > span:nth-of-type(4) {
  transform: rotate(-45deg);

  height: 0.1rem;
  width: 1.4rem;
}

/* ----------------------------- */

/* ----------CLASSES------------ */

.hide-from-user {
  overflow: hidden;
  position: absolute;

  height: 1px;
  width: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  /* information above found at: https://www.a11yproject.com/posts/how-to-hide-content/ */
}

/* a style */
.animation-a-cl {
  padding: 18px 36px 18px 21px;
  min-width: 420px;
  min-height: 50px;

  background-color: var(--button-primary);
  background: transparent;
  background: linear-gradient(
      100deg,
      var(--button-primary) 50%,
      var(--button-secondary) 50%
    )
    right;
  background-size: 240% 100%;

  text-decoration: none;
  font-family: Everett, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-a-bw {
  padding: 18px 36px 18px 21px;
  min-width: 420px;
  min-height: 50px;

  background-color: transparent;
  background: linear-gradient(100deg, transparent, var(--white) 100%) right;
  background-size: 200%;
  border: solid var(--white) 0.25em;

  text-decoration: none;
  font-family: Everett, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-a-cl:hover,
.animation-a-bw:hover {
  background-position: left;
}
